.hoverShadow:hover {
	-moz-box-shadow: 0 0 10px #222222;
	-webkit-box-shadow: 0 0 10px #222222;
	box-shadow: 0 0 10px #222222;
}

.dropShadow {
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

.center-text {
	text-align: center;
}

.gameSelectorCombobox {
	position:absolute;
	margin-top:-63px;
	margin-left:5px;
}